/*   flex-wrap: can also be nowrap and wrap-reverse; */

.flex-container {
    display: flex;
    flex-wrap: center;
    justify-content: center;
    align-items: center;
    height: 300px;

}

h1 {
    text-align: center;
    color: #320f8b;
}


.flex-container > div {
    background-color: blue;
    width: 300px;
    height: 200px;
    margin: 5px;
    text-align: center;
    font-size: 50px;
    color:white;
    display: flex;
    flex-flow:wrap;
    align-items: center;
    justify-content: center;
    border: solid 5px black;

    
}
    
    #div1{
        background-color: aqua;
        height: auto;
        align-self: flex-start;
        height: 192px;
        width: 400px;
        
    
    }
    #div2{
        background-color: yellow;
        height: auto;
        order: -1;
        align-self: flex-end;
        height: 185px;
        width: 400px;
    
    }
    #div3{
        
        background-color: blue;
        height: auto;
        align-self: flex-end;
        height: 185px;
        width: 400px;
    }
    #div4 {
        background-color: violet;
        height: auto;
        align-self: flex-start;
        height: 185px;
        width: 400px;
    
    }     
    #div5 {
    
        background-color: green;
        height: auto;
        align-self: flex-end;
        height: 185px;
        width: 250px;
    }
    .allimg{
        height: 192px;
        width: 500px;

    
    }
    
    .flex-container3{


    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    background-color: blue;
    border: solid 5px black;
    height: 500px;   
align-items: center;
    }    

    #left-div1 {


    height: 450px;
    border: solid 5px black;
    width: 600px;
    color: aliceblue;
    background-image: url(output-onlinepngtools.png);

    }
    

#right-div2 {


height: 350px;
border: solid 5px black; /*the border needs 3 values*/
width: 500px;

}


#text1 {

    font-style: oblique;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300px;

}
#img1 {

    height: 100%; /* this image is 100% of the div*/
    width: 100%;  /* this image is 100% of the div*/
}


    
    .flex-container4{


    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    background-color: black;
    border: solid 15px yellow;
    height: 900px;   
    align-items: center;}


#left-div3 {


    height: 650px;
    border: solid 5px black;
    width: 900px;
    color: aliceblue;
    background-image: url(output-onlinepngtools.png);
    background-size:100% 100%

    }


    #right-div4 {


        height: 450px;
        border: solid 5px black;
        width: 600px;
        color: aliceblue;
        background-image: url(output-onlinepngtools.png);
    
        }

        .flex-container5{


            display: flex;
            flex-direction:row;
            justify-content: space-evenly; 
            background-color: yellow;
            border: solid 15px black;
            height: 900px;   
            align-items:center;
    }
    
    #video1 {
        height: 400px;
        width: 600px;
        align-items: center;
    }